* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.mixed {/* 文字縦書き横向き */
	writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
}
.menu{
	float: left;
	width: 50px;
	margin-right:10px;
}
.mini-box{
	border-top:13px solid rgb(0,0,0);
}
@media (min-width:767px){
	.grid{/* トップページ作品陳列１：１：１ */
		display: grid;
		margin-left: 5%;
		margin-right: 5%;
		gap:10%;
		grid-template-columns:1fr 1fr 1fr;
	}

	.gird-item{/* 作品陳列 */
		width:100%;
		text-align:center;
		margin:40px;
	}
}
.imgs{/* 作品サムネサイズ */
	width:95%;
	margin-bottom:10%;
}
.black-box{
		width:350px;
		height:530px;
		padding-top:25px;
		text-align:center;
		background-color: rgb(0,0,0);
		box-shadow: 15px 15px 30px 10px rgba(0,0,0,0.4);/* 水平　垂直　ぼかし具合　広がり具合 */
	}
.card-txt{
	color:rgb(255,255,255);
	text-align:left;
	margin-left:5%;
	font-size: 18px;
	font-family: "ヒラギノ明朝 Pro";
	line-height: 2.0;/* 行間 */
}
.triangle{
	border-top: 62px solid transparent;
	border-right: 62px solid #f6da69;
	margin-bottom:0;
}
@media (max-width:766px){/* 作品陳列　パソコン用を消す　スマホ */
	.menu{
		width:30px;
		margin-right:5px;
	}
	.mixed{
		font-size: 24px;
	}
	.grid{
		display: grid;
		grid-template-columns:1fr 1fr;
		margin-left: 5%;
		margin-right: 5%;
		gap:8%;
	}
	.gird-item{/* 作品陳列 */
		width:100%;
	}
	.black-box{
		width:150px;
		height:250px;
		padding-top:10px;
		box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.3);/* 水平　垂直　ぼかし具合　広がり具合 */
	}
	.card-txt{
		font-size: 13px;
		line-height: 1.6;/* 行間 */
	}
	.triangle{
		border-top: 39px solid transparent;
		border-right: 39px solid #f6da69;
		text-align:bottom;
	}

}

.section-bottom{
	margin-bottom:200px;
}
.pages-section-bottom{
	padding-top:10%;
	padding-bottom:10%;
	margin-right:1%;
	margin-left:1%;
	border-top:2px solid rgb(0,0,0);
}
.txt-h2{
	font-family: "ヒラギノ明朝 Pro";
}
.txt{
	font-family: "ヒラギノ明朝 Pro";
	font-size:20px;
}
.txt-ex{
	font-family: "ヒラギノ明朝 Pro";
	font-size:25px;
}
.right{
	margin-right:10%;
}
.left{
	margin-left:10%;
}
.txt-top{
	color:rgb(255,255,255);
	font-size: 45px;
	font-family: "ヒラギノ明朝 Pro";
	justify-content: flex-end;
	margin-left:30%;
	margin-right:30%;
	margin-top:50%;

}

.top-menu{
	float: left;
	width: 20%;
	text-align:center;
}
.black-top{
	/* width:100%; */
	height:auto;
	background-color: rgb(0,0,0);
}
.img-top{
	width:80%;
}
.margins{
	margin-right:10%;
	margin-left:10%;
}

.bag-jpg{
	float: left;
	width: 30%;
	margin-right:10px;
}
.bag-work{
	margin-bottom:20%;
}

.pages-grid{
	display: grid;
	grid-template-columns:1fr 1fr;
	gap:3%;
	margin-bottom:3%;
}
.pages-grid-item{
	width:100%;
}
@media (max-width:766px){/* 作品陳列　パソコン用を消す　スマホ */
	.txt-top{
		font-size:18px;
		margin-top:30%;
	}
	.txt-ex{
		font-size:15px;
	}
	.txt{
		font-size:13px;
	}
	.pages-grid{
		grid-template-columns:1fr;
		margin-bottom:8%;
	}

}