* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.mixed {/* 文字縦書き横向き */
	writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
}
.menu{
	float: left;
	width: 50px;
	margin-right:10px;
}
.mini-box{
	border-top:13px solid rgb(0,0,0);
}
@media (min-width:767px){
	.grid{/* トップページ作品陳列１：１：１ */
		display: grid;
		margin-left: 5%;
		margin-right: 5%;
		gap:10%;
		grid-template-columns:1fr 1fr 1fr;
	}

	.gird-item{/* 作品陳列 */
		width:100%;
		text-align:center;
		margin:40px;
	}
}
.imgs{/* 作品サムネサイズ */
	width:95%;
	margin-bottom:10%;
}
.black-box{
		width:350px;
		height:530px;
		padding-top:25px;
		text-align:center;
		background-color: rgb(0,0,0);
		box-shadow: 15px 15px 30px 10px rgba(0,0,0,0.4);/* 水平　垂直　ぼかし具合　広がり具合 */
	}
.card-txt{
	color:rgb(255,255,255);
	text-align:left;
	margin-left:5%;
	font-size: 18px;
	font-family: "ヒラギノ明朝 Pro";
	line-height: 2.3;/* 行間 */
}
.triangle{
	border-top: 62px solid transparent;
	border-right: 62px solid #f6da69;
	margin-bottom:0;
}
@media (max-width:766px){/* 作品陳列　パソコン用を消す　スマホ */
	.menu{
		width:30px;
		margin-right:5px;
	}
	.mixed{
		font-size: 24px;
	}
	.grid{
		display: grid;
		grid-template-columns:1fr 1fr;
		margin-left: 5%;
		margin-right: 5%;
		gap:8%;
	}
	.gird-item{/* 作品陳列 */
		width:100%;
	}
	.black-box{
		width:150px;
		height:250px;
		padding-top:10px;
		box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.3);/* 水平　垂直　ぼかし具合　広がり具合 */
	}
	.card-txt{
		font-size: 13px;
		line-height: 1.6;/* 行間 */
	}
	.triangle{
		border-top: 39px solid transparent;
		border-right: 39px solid #f6da69;
		text-align:bottom;
	}

}

.section-bottom{
	margin-bottom:200px;
}

.pages-top-bottom{
	padding-top:1%;
	padding-bottom:8%;
}
.pages-section-bottom{
	padding-top:18%;
	padding-bottom:18%;
	margin-right:1%;
	margin-left:1%;
	border-top:2px solid rgb(0,0,0);
}
.pages-h1-top{
	margin-top:15%;
}
.pages-h1-bottom{
	margin-bottom:10%;
}
.pages-center{
	text-align:center;
}
.pages-right{
	text-align:right;
	/* margin-left:70%; */
}
.txt-h2{
	font-family: "ヒラギノ明朝 Pro";
}
.txt{
	font-family: "ヒラギノ明朝 Pro";
	font-size:20px;
	line-height: 1.8;
}
.txt-ex{/* 説明部分 */
	font-family: "ヒラギノ明朝 Pro";
	font-size:25px;
	line-height: 1.8;
}
.txt-top{
	font-family: "ヒラギノ明朝 Pro";
	font-size:40px;
	line-height: 1.8;
}
.right{
	margin-right:10%;
}
.left{
	margin-left:10%;
}


/* .top-menu{
	float: left;
	width: 20%;
	text-align:center;
} */
.black-top{
	/* width:100%; */
	height:auto;
	background-color: rgb(0,0,0);
}
.img-80{
	width:80%;
	margin-bottom:60px;
	margin-left: 10%;
	margin-right: 10%;
}
.img-60{
	width:60%;
	margin-bottom:60px;
	margin-left: 20%;
	margin-right: 20%;
}
.top-name-center{
	text-align: center;
}
.margins{
	margin-right:10%;
	margin-left:10%;
}
.img{
	width:100%;
}
.topic{/* 左側のプロセスとかの上に余白 */
	margin-top:15%;
}

.s-line{
	margin-bottom:20px;
	margin-left: 20%;
	margin-right: 20%;
}
.p-line{
	margin-bottom:60px;
	margin-left: 20%;
	margin-right: 20%;
}

/* ボード */
.board-JPG{
	width:60%;
	margin-left: 20%;
	margin-right: 20%;
}
.board-work{
	margin-bottom:50%;
}



/* バッグ */
.bag-jpg{
	float: left;
	width: 60%;
	margin-right:10px;
}
.bag-work{
	margin-bottom:40%;
}


/* 東山 */
.higashiyama-jpg{
	float: right;
	width: 30%;
}
.higashiyama-marker{
	background : linear-gradient(transparent 20%, #ffa64d 65%);
}
.higashiyama-box{
	border:2px dashed #ffa64d;
}
.higashiyama-work{
	margin-bottom:20%;
}


/* ネコ */
.neko-jpg{
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
}


/* モーキャプ */
.motion-work{
	margin-bottom:5%;
}


/* パンフレット */
.pamph-work-top{
	margin-top:20%;
}


.sample ul{
	display: flex;
	overflow-x: scroll;
	margin: 0;
	padding: 0;
}
.sample li{
	min-width: 40%;
	margin: 10px;
	padding: 0;
	list-style: none;
}


/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
	width:70%;
	margin:0 auto;
}

.slider img {
	width:100%;/*スライダー内の画像を横幅100%に*/
	height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
	margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/

/*ドットナビゲーションの設定*/

.slick-dots {
	text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
	display:inline-block;
	margin:0 5px;
}

.slick-dots button {
	color: transparent;
	outline: none;
	width:10px;/*ドットボタンのサイズ*/
	height:10px;/*ドットボタンのサイズ*/
	display:block;
	border-radius:50%;
	background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
	background:#333;/*ドットボタンの現在地表示の色*/
}





.pages-grid{
	display: grid;
	grid-template-columns:1fr 1fr;
	gap:3%;
	margin-bottom:10%;
}
.pages-grid-item{
	width:100%;
}
.pages-grid-none{
	display: grid;
	grid-template-columns:1fr 1fr;
	gap:1%;
}
@media (max-width:766px){/* 作品陳列　パソコン用を消す　スマホ */
	.txt-top{
		font-size:18px;
	}
	.txt-ex{
		font-size:15px;
	}
	.txt{
		font-size:13px;
	}
	.p-line{
		margin-bottom:30px;
	}
	.pages-grid{
		grid-template-columns:1fr;
		margin-bottom:8%;
	}

}